<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console: always outputs (Cloud Logging captures this) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{traceId:-},%X{spanId:-}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- OTLP Appender: sends to Alloy -->
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <captureExperimentalAttributes>true</captureExperimentalAttributes>
        <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
    </appender>

    <!-- Async wrapper: makes OTEL non-blocking -->
    <appender name="ASYNC_OTEL" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="OTEL"/>
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
    </appender>

    <!-- prod/cloudrun: Console + OTEL (async) -->
    <springProfile name="prod | cloudrun">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_OTEL"/>
        </root>
    </springProfile>

    <!-- dev/local: Console only -->
    <springProfile name="!prod &amp; !cloudrun">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
